*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    /*height: 90vh;*/
    justify-content: center;
    margin-top: 2em;
}
.wrapper-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(151, 236, 177);
    justify-content: center;
}
h1{
    text-align: center;
    background-color: rgb(29, 158, 4);
    margin-top: 0px;
    padding: 0.5em;
}
p{
    display: flex;
    /*padding: 0.5em;*/
    margin: 0.5em;
    font-size: 1.5em;
    border-bottom: 2px gray solid;
}